@font-face {
    font-family: 'Montserrat-black';
    font-style: normal;
    font-weight: normal;
    src: url('Montserrat/Montserrat-Black.ttf') format('opentype');
}

@font-face {
  font-family: 'Newyork-heavy-italic';
  font-style: normal;
  font-weight: normal;
  src: url('newyorkextralarge-heavyitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Newyork-heavy';
  font-style: normal;
  font-weight: normal;
  src: url('newyorkextralarge-heavy.woff') format('woff');
}

@font-face {
  font-family: 'Newyork-bold';
  font-style: normal;
  font-weight: normal;
  src: url('newyorkextralarge-bold.woff') format('woff');
}

@font-face {
  font-family: 'montserrat-medium';
  font-style: normal;
  font-weight: normal;
  src: url('montserrat-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'montserrat-light';
  font-style: normal;
  font-weightL: normal;
  src: url('montserrat-light-webfont.woff') format('woff');
}
